In [7]:
#!pip install pandas_datareader
#!pip install datetime
!pip install mplfinance

Collecting mplfinance
  Downloading mplfinance-0.12.9b1-py3-none-any.whl (70 kB)
Requirement already satisfied: matplotlib in c:\users\chan\anaconda3\lib\site-packages (from mplfinance) (3.3.4)
Requirement already satisfied: pandas in c:\users\chan\anaconda3\lib\site-packages (from mplfinance) (1.2.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\chan\anaconda3\lib\site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\chan\anaconda3\lib\site-packages (from matplotlib->mplfinance) (2.8.1)
Requirement already satisfied: numpy>=1.15 in c:\users\chan\anaconda3\lib\site-packages (from matplotlib->mplfinance) (1.20.1)
Requirement already satisfied: cycler>=0.10 in c:\users\chan\anaconda3\lib\site-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\chan\anaconda3\lib\site-packages (from matplotlib->mplfinance) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\chan\anaconda3\lib\site-packages (from matplotlib->mplfinance) (1.3.1)
Requirement already satisfied: six in c:\users\chan\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->mplfinance) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\chan\anaconda3\lib\site-packages (from pandas->mplfinance) (2021.1)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.9b1

# Imports

In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import datetime as dt
import mplfinance as mpf

# Function that Saves Stock Data to CSV

In [4]:
#Get info from yahoo by creating a function
def save_to_csv_from_yahoo(ticker, syear, smonth, sday, eyear, emonth, eday):
        #starting and end of datetime
        start = dt.datetime(syear, smonth, sday)
        end = dt.datetime(eyear, emonth, eday)
        
        df = web.DataReader(ticker, "yahoo", start, end)
        df.to_csv("/Users/Chan/Desktop/College Files/" + ticker + ".csv")
        return df

In [5]:
save_to_csv_from_yahoo("AMZN", 2020, 1, 1, 2021, 1, 1)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,92.663002,91.611504,92.099998,92.391998,50130000,92.391998
2020-01-02,94.900497,93.207497,93.750000,94.900497,80580000,94.900497
2020-01-03,94.309998,93.224998,93.224998,93.748497,75288000,93.748497
2020-01-06,95.184502,93.000000,93.000000,95.143997,81236000,95.143997
2020-01-07,95.694504,94.601997,95.224998,95.343002,80898000,95.343002
...,...,...,...,...,...,...
2020-12-24,160.100006,158.449997,159.695007,158.634506,29038000,158.634506
2020-12-28,165.199997,158.634506,159.699997,164.197998,113736000,164.197998
2020-12-29,167.532501,164.061005,165.496994,166.100006,97458000,166.100006
2020-12-30,167.104996,164.123505,167.050003,164.292496,64186000,164.292496
2020-12-31,164.145996,162.059998,163.750000,162.846497,59144000,162.846497

# Function that Returns a Dataframe from a CSV

In [6]:
def get_df_from_csv(ticker):
    try:
        df = pd.read_csv("/Users/Chan/Desktop/College Files/" + ticker + ".csv")
    except FileNotFoundError:
        print("File doesn't exist")
    else:
        return df

In [7]:
AMZN = get_df_from_csv("AMZN")
AMZN

,Date,High,Low,Open,Close,Volume,Adj Close
0,2019-12-31,92.663002,91.611504,92.099998,92.391998,50130000,92.391998
1,2020-01-02,94.900497,93.207497,93.750000,94.900497,80580000,94.900497
2,2020-01-03,94.309998,93.224998,93.224998,93.748497,75288000,93.748497
3,2020-01-06,95.184502,93.000000,93.000000,95.143997,81236000,95.143997
4,2020-01-07,95.694504,94.601997,95.224998,95.343002,80898000,95.343002
...,...,...,...,...,...,...,...
249,2020-12-24,160.100006,158.449997,159.695007,158.634506,29038000,158.634506
250,2020-12-28,165.199997,158.634506,159.699997,164.197998,113736000,164.197998
251,2020-12-29,167.532501,164.061005,165.496994,166.100006,97458000,166.100006
252,2020-12-30,167.104996,164.123505,167.050003,164.292496,64186000,164.292496
253,2020-12-31,164.145996,162.059998,163.750000,162.846497,59144000,162.846497

# Add Daily Return to Dataframe

In [20]:
#calculate a percentage rate of return for each day to compare investments.
#Simple rate of return = (End Price - Beginning Price) / Beginning price OR (EP / BP) - 1

def add_daily_return_to_df(df, ticker):
    df["daily_return"] = (df["Adj Close"] / df["Adj Close"].shift(1)) - 1
    df.to_csv("/Users/Chan/Desktop/College Files/" + ticker + ".csv")
    return df

In [1]:
add_daily_return_to_df(AMZN, "AMZN")

NameError: name 'add_daily_return_to_df' is not defined